#root {
    /*max-width: 1280px;*/
    margin: 0 auto;
    /*padding: 2rem;*/
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

/* iOS Safari: не зумить інпут при фокусі, якщо font-size >= 16px */
@media (max-width: 768px) {
    /* antd Input + Search */
    .ant-input,
    .ant-input-affix-wrapper,
    .ant-input-affix-wrapper input {
        font-size: 12px !important;
    }

    /* antd Select */
    .ant-select-selector,
    .ant-select-selection-item,
    .ant-select-selection-placeholder,
    .ant-select-selection-search-input {
        font-size: 12px !important;
    }

    /* antd InputNumber */
    .ant-input-number,
    .ant-input-number-input {
        font-size: 12px !important;
    }
}

/*.ant-table-thead > tr > th, td {*/
/*    font-size: 12px !important;*/
/*}*/
.ant-table-tbody > tr > td {
  font-size: 12px !important;
}